<!DOCTYPE html>
    <head>
	    <meta charset="UTF-8">
        <meta name="author" content="Daniel Haueter">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <title>Draft Room</title>
        <meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var data = {{ json|safe }};
            var owners = {{ owners_json|safe }};
            var owner_list = {{ owner_list|safe }};
            var paid_hist_data = {{ paid_histogram_data|safe }};
            var roster = {{ roster_json|safe}};
            var redirectStatus = '{{ status }}';
        </script>
        <script src="/static/js_functions.js"></script>
        <script src="/static/sort-table.js"></script>

        <style>
            tr[id='summary_Lima Time'] { color: blue;}
        </style>
    </head>
    <body>
        <div class="row border-bottom border-3 border-primary p-3">
            <div class="col-md-2">
                <form action="/draft/update_bid" onsubmit="return validateForm()" id="bid_form" method="get">
                    <h3>Player Search</h3>
                    <input id="player_select" class="form-control" list="player_list" name="cbsid">
                    <datalist id="player_list">
                        {% for i, row in players.iterrows() %}
                            <option value="{{ row['cbsid'] }}">{{ row['Name'] }}</option>
                        {% endfor %}
                    </datalist>
                    <br>
                    <div style="font-size:12px" id="team_input">

                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for="price">Price</label>
                            <br><input type="text" name="price" id="price_entry" size="2" placeholder="Price" value=0>
                            <button type="submit" class='btn btn-sm btn-primary' id="submit">Bid</button>        
                        </div>
                        <div class="col">
                            <label for="price">Supp</label>
                            <br><input type="text" name="supp" id="supp_entry" size="2" placeholder="#" value="0">
                            <button type="submit" class='btn btn-sm btn-warning' id="supp_submit">Supp</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8">
                            <label for="acceptAuctionBid">Accept Auction Bid</label>
                            <br><button type="button" class="btn btn-sm btn-success" id="acceptAuctionBid">Accept</button>
                        </div>
                        <div class="col-4">
                            <br><a style='float:right' href="/draft/reset_all"><s>Reset</s></a>
                        </div>
                    </div>
                </form>
                <div class="text-danger" id="error_msg" style="display:none;"></div>
            </div>
            <!-- Similar Players Pane -->
            <div class="col-md-2 mb-3 border-start border-dark">
                <h5>Similar Players by Projected Stats</h5>
                <div id="sims"></div>
                <div id="bidWinner" class="mt-2"></div>
            </div>
            <!-- Radar Chart Pane -->
            <div class="col-md-2 border-start border-dark mb-2">
                <h5 id=radar_chart_player_name>Radar Chart</h5>
                <div id="radar_chart"></div>
            </div>
            <!-- Player Stats Pane -->
            <div class='col-md-6 mb-2 border-start border-dark' id="player_stats_window"></div>
        </div>
        <!-- 2nd Row -->
        <div class="row p-3">
            <!-- Drafted Players Scroll Pane -->
            <div class="col-md-2" style="height:500px; overflow-y:scroll;">
                <h3>Draft Order</h3>
                <table id="drafted_scroll" style="width:100%; font-size:12px;">
                    {% for i, row in owned.sort_values('Timestamp', ascending=False).iterrows() %}
                    <tr>
                        <td>{{ row['Name'] }}</td>
                        <td>${{ row['Paid'] }}</td>
                        <td>{{ row['Owner'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- Owners Cash Meter Pane -->
            <div class="col-md-1 border-start border-dark">
                <h4>Cash Meter</h4>
                <table>
                    <tr>
                        <th>Team</th>
                        <th>Cash+</th>
                    </tr>
                    {% for i, row in owners_df.iterrows() %}
                    <tr>
                        <td>{{ row['Owner'] }}</td>
                        <td id="{{ row['Owner']|replace(' ','_') }}_meter">{{ row['Cash'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <b>Inflation Factor:</b><br><font color='red'>{{ inflation_factor }}</font><br>
                Players Left:<br>{{ players_left }}<br>
                Dollars Left:<br>{{ dollars_left }}<br>
                Initial $/z:<br>{{ init_dollars_per_z }}<br>
                Current $/z:<br>{{ current_dollars_per_z }}<br>
            </div>
            <!-- Main 2nd Row Pane with Tabs -->
            <div class="col-md-9 border-start border-dark">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="tab" href="#summary">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#rosters">Rosters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#charts">Charts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tiers">Tiers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#players">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#paid_hist">Paid $ Hist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#team_z">Total Z</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#surplus">Surplus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#stat_tiers">Stat Tiers</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane container" id="summary">
                        <table class="table table-condensed table-hover" id="myTable" style="font-size:12px;">
                            <thead>
                                <th onclick="sortTable(0, 'myTable')">Owner</th>
                                <th onclick="sortTable(1, 'myTable')">Cash Sitch</th>
                                <th onclick="sortTable(2, 'myTable')">$ Left</th>
                                <th onclick="sortTable(3, 'myTable')">Max Bid</th>
                                <th onclick="sortTable(4, 'myTable')">$ Left/Plyr</th>
                                <th onclick="sortTable(5, 'myTable')">Drafted</th>
                                <th onclick="sortTable(6, 'myTable')">Value+/-</th>
                                <th onclick="sortTable(7, 'myTable')">Pts</th>
                                <th onclick="sortTable(8, 'myTable')">Rank</th>
                                <th onclick="sortTable(9, 'myTable')">$/Unit</th>
                                <th onclick="sortTable(10, 'myTable')">BA</th>
                                <th onclick="sortTable(11, 'myTable')">HR</th>
                                <th onclick="sortTable(12, 'myTable')">R</th>
                                <th onclick="sortTable(13, 'myTable')">RBI</th>
                                <th onclick="sortTable(14, 'myTable')">SB</th>
                                <th onclick="sortTable(15, 'myTable')">ERA</th>
                                <th onclick="sortTable(16, 'myTable')">WHIP</th>
                                <th onclick="sortTable(17, 'myTable')">QS</th>
                                <th onclick="sortTable(18, 'myTable')">SO</th>
                                <th onclick="sortTable(19, 'myTable')">SvHld</th>
                                
                            </thead>
                        {% for i, row in owners_df.iterrows() %}
                            <tr id="summary_{{ row['Owner'] }}">
                                <td>{{ row['Owner'] }}</td>
                                <td>{{ row['Cash'] }}</td>
                                <td>{{ row['$ Left'] }}</td>
                                <td>{{ row['max_bid'] }}</td>
                                <td>{{ row['$ Left / Plyr'] }}</td>
                                <td>{{ row['Drafted'] }}</td>
                                <td>{{ row['Value'] }}</td>
                                <td>{{ row['Pts'] }}</td>
                                <td>{{ row['Rank'] }}</td>
                                <td>{{ row['$/unit'] }}</td>
                                <td>{{ row['BA'] }}</td>
                                <td>{{ row['HR'] }}</td>
                                <td>{{ row['R'] }}</td>
                                <td>{{ row['RBI'] }}</td>
                                <td>{{ row['SB'] }}</td>
                                <td>{{ row['ERA'] }}</td>
                                <td>{{ row['WHIP'] }}</td>
                                <td>{{ row['QS'] }}</td>
                                <td>{{ row['SO'] }}</td>
                                <td>{{ row['SvHld'] }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        {% for key, value in avg_stats.items() %}
                            <br>{{ key }}: {{ value }}
                        {% endfor %}
                    </div>
                    <div class="tab-pane container fade" id="rosters">
                        <table class='table table-condensed table-hover' id="rosterTable" style="font-size:10px;">
                            <thead>
                                <th>Pos</th>
                                <th>9 Grand Kids</th>
                                <th>Brewbirds</th>
                                <th>Charmer</th>
                                <th>Dirty Birds</th>
                                <th>Harvey</th>
                                <th><font color='blue'>Lima Time</font></th>
                                <th>Mother</th>
                                <th>Roid Ragers</th>
                                <th>Trouble</th>
                                <th>Ugly Spuds</th>
                                <th>Wu-Tang</th>
                                <th>Young Guns</th>
                            </thead>
                            {% for i, row in roster.iterrows() %}
                                <tr>
                                    <td><b>{{ i }}</b></td>
                                    <td>{{ row['9 Grand Kids'] }}</td>
                                    <td>{{ row['Brewbirds'] }}</td>
                                    <td>{{ row['Charmer'] }}</td>
                                    <td>{{ row['Dirty Birds'] }}</td>
                                    <td>{{ row['Harvey'] }}</td>
                                    <td><b>{{ row['Lima Time'] }}</b></td>
                                    <td>{{ row['Mother'] }}</td>
                                    <td>{{ row['Roid Ragers'] }}</td>
                                    <td>{{ row['Trouble'] }}</td>
                                    <td>{{ row['Ugly Spuds'] }}</td>
                                    <td>{{ row['Wu-Tang'] }}</td>
                                    <td>{{ row['Young Guns'] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="tab-pane container fade pt-4" id="charts">
                        <button type="button" class="btn btn-primary" id="button-1">Pts</button>
                        <button type="button" class="btn btn-primary active" id="button-2">$ Left</button>
                        <button type="button" class="btn btn-primary" id="button-3">Total Z</button>
                        <button type="button" class="btn btn-primary" id="button-4">$/Unit</button>
                        <button type="button" class="btn btn-primary" id="button-5">Drafted</button>
                        <div id="owners_chart"></div>
                    </div>
                    <div class="tab-pane container fade pt-4" id="tiers">
                        <div id="tiers_chart"></div>
                    </div>
                    <div class="tab-pane container fade" id="players">
                        <div id="z_players_chart"></div>
                    </div>
                    <div class="tab-pane container  active" id="paid_hist">
                        <div id="paid_hist_chart"></div>
                    </div>
                    <div class="tab-pane container fade pt-4" id="team_z">
                        <table class="table table-condensed table-hover" id="z_table" style="font-size:12px;">
                            <thead>
                                <th onclick="sortTable(0, 'z_table')">Owner</th>
                                <th onclick="sortTable(1, 'z_table')">HR</th>
                                <th onclick="sortTable(2, 'z_table')">SB</th>
                                <th onclick="sortTable(3, 'z_table')">R</th>
                                <th onclick="sortTable(4, 'z_table')">RBI</th>
                                <th onclick="sortTable(5, 'z_table')">BA</th>
                                <th onclick="sortTable(6, 'z_table')">QS</th>
                                <th onclick="sortTable(7, 'z_table')">K</th>
                                <th onclick="sortTable(8, 'z_table')">SvHld</th>
                                <th onclick="sortTable(9, 'z_table')">ERA</th>
                                <th onclick="sortTable(10, 'z_table')">WHIP</th>                                
                            </thead>
                        {% for i, row in team_z.iterrows() %}
                        <tr id="z_table_{{ row['Owner'] }}">
                            <td>{{ row['Owner'] }}</td>
                            <td>{{ row['zHR'] }}</td>
                            <td>{{ row['zSB'] }}</td>
                            <td>{{ row['zR'] }}</td>
                            <td>{{ row['zRBI'] }}</td>
                            <td>{{ row['zBA'] }}</td>
                            <td>{{ row['zQS'] }}</td>
                            <td>{{ row['zSO'] }}</td>
                            <td>{{ row['zSvHld'] }}</td>
                            <td>{{ row['zERA'] }}</td>
                            <td>{{ row['zWHIP'] }}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="tab-pane container fade pt-4" id="surplus">
                        <table class="table table-condensed table-hover" id="surplus_tbl" style="font-size:12px;">
                            <thead>
                                <th>Player</th>
                                <th>Team</th>
                                <th>Pos</th>
                                <th>Surplus</th>
                                <th>Market</th>
                                <th>Value</th>
                                <th>CBS</th>
                                <th>FG Value</th>
                                <th>BA</th>
                                <th>HR</th>
                                <th>SB</th>
                                <th>R</th>
                                <th>RBI</th>
                                <th>ERA</th>
                                <th>WHIP</th>
                                <th>K</th>
                                <th>QS</th>
                                <th>SvHld</th>
                            </thead>
                        {% for i, row in players[(players['Owner'].isna())].sort_values('surplus', ascending=False).iterrows() %}
                        <tr>
                            <td>{{ row['Name'] }}</td>
                            <td>{{ row['Team'] }}</td>
                            <td>{{ row['Pos'] }}</td>
                            <td><b>{{ row['surplus'] }}</b></td>
                            <td>{{ row['curValue'] }}</td>
                            <td>{{ row['Value'] }}</td>
                            <td>{{ row['CBS'] }}</td>
                            <td>{{ row['Dollars'] }}</td>
                            <td>{{ row['BA'] }}</td>
                            <td>{{ row['HR'] }}</td>
                            <td>{{ row['SB'] }}</td>
                            <td>{{ row['R'] }}</td>
                            <td>{{ row['RBI'] }}</td>
                            <td>{{ row['ERA'] }}</td>
                            <td>{{ row['WHIP'] }}</td>
                            <td>{{ row['SO'] }}</td>
                            <td>{{ row['QS'] }}</td>
                            <td>{{ row['SvHld'] }}</td>

                        </tr>
                        {% endfor %}
                        </table>
                    </div>

                    <div class="tab-pane container fade pt-4" id="stat_tiers">
                        <table class="table table-condensed table-hover" id="stat_tiers_tbl" style="font-size:12px;">
                            <thead>
                                <th>Player</th>
                                <th>Team</th>
                                <th>Pos</th>
                                <th onclick="sortTable(3, 'stat_tiers_tbl')">Surplus</th>
                                <th onclick="sortTable(4, 'stat_tiers_tbl')">Market</th>
                                <th onclick="sortTable(5, 'stat_tiers_tbl')">Value</th>
                                <th onclick="sortTable(6, 'stat_tiers_tbl')">CBS</th>
                                <th onclick="sortTable(7, 'stat_tiers_tbl')">BA</th>
                                <th onclick="sortTable(8, 'stat_tiers_tbl')">HR</th>
                                <th onclick="sortTable(9, 'stat_tiers_tbl')">SB</th>
                                <th onclick="sortTable(10, 'stat_tiers_tbl')">R</th>
                                <th onclick="sortTable(11, 'stat_tiers_tbl')">RBI</th>
                                <th onclick="sortTable(12, 'stat_tiers_tbl')">ERA</th>
                                <th onclick="sortTable(13, 'stat_tiers_tbl')">WHIP</th>
                                <th onclick="sortTable(14, 'stat_tiers_tbl')">K</th>
                                <th onclick="sortTable(15, 'stat_tiers_tbl')">QS</th>
                                <th onclick="sortTable(16, 'stat_tiers_tbl')">SvHld</th>
                            </thead>
                        {% for i, row in players[players['Owner'].isna()].sort_values('z', ascending=False).iloc[:440].iterrows() %}
                        <tr>
                            <td>{{ row['Name'] }}</td>
                            <td>{{ row['Team'] }}</td>
                            <td>{{ row['Pos'] }}</td>
                            <td><b>{{ row['surplus'] }}</b></td>
                            <td>{{ row['curValue'] }}</td>
                            <td>{{ row['Value'] }}</td>
                            <td>{{ row['CBS'] }}</td>
                            <td>{{ row['BA'] }}</td>
                            <td>{{ row['HR'] }}</td>
                            <td>{{ row['SB'] }}</td>
                            <td>{{ row['R'] }}</td>
                            <td>{{ row['RBI'] }}</td>
                            <td>{{ row['ERA'] }}</td>
                            <td>{{ row['WHIP'] }}</td>
                            <td>{{ row['SO'] }}</td>
                            <td>{{ row['QS'] }}</td>
                            <td>{{ row['SvHld'] }}</td>

                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
